body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    /* background-image: linear-gradient(180deg, #be0032, pink); */
    /* background-image: linear-gradient(180deg, #dddbd1, #d2dbdc); */
    background-image: url(/static/media/images/purple-mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* backdrop-filter: blur(5px); */
}

/* .top{
    height: 100px;
    width: 100%;
    background-color: seagreen;
    position: fixed;
    z-index: -1;
} */

/* .chatBox{
    height: 90%;
    width: 95%;
    margin-top: 30px;
    padding: 0;
    /* margin-bottom: 30px; */
    /* -webkit-box-shadow: 0 0 40px #000;
    box-shadow: 0 0 40px #000;
} */

/* .leftPanel{
    height: 100%;
    width: 95%;
    margin-top: 30px;
    padding: 0; */
    /* margin-bottom: 30px; */
    /* -webkit-box-shadow: 0 0 40px #000;
    box-shadow: 0 0 40px #000;
} */

.header-pic{
    height: 50px;
    width: 50px;
}

.round-box{
    border-radius: 1rem;
}

.panel-pic{
    height: 50px;
    width: 50px;
}

.profile-pic{
    height: 50px;
    width: 50px;
}


.name{
    font-weight: 400;
    color: #000;
}

.under-name{
    font-size: 12px;
    line-height: 15px;
    max-height: 15px;
}

.icons{
    font-size: 20px;
    /* color: #9ca1a3; */
    color: #272424;
}

.welcome-text{
    color: #272424;
    margin-top: 50px;
}
.welcome-text strong{
    color: purple;
}

.welcome-logo{
    height: 240px;
    width: 200px;
    margin-top: 150px;
}

.dropdown-toggle::before{
    display: none !important;
}

/* .left-header{
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
    filter: blur(10px);
} */

/* .left-header{
    background-color: rgba(255, 255, 255, 0.6);
} */
/* .left_header{
    background-color: rgba(255, 255, 255, 0.6);
} */
/* .card{
    background-color: rgba(255, 255, 255, 0.6);
} */

.card{
    background-color: rgba(245, 245, 245, 0.8);
}
.card-header, .card-footer{
    opacity: 1;
}


/* /////////////////////////// */
/* For chat Bubbles */

/* .chatBody{
    width: 100%;
    height: 100%;
} */

.chat-pic{
    height: 30px;
    width: 30px;
}

.received-msg{
    background-color: #f1f3f2;
    color: #272424;
    border-radius: 10px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 13px;
    /* box-shadow: 3px 4px 5px #000; */
    box-shadow: rgba(0, 0, 0, 0.12) 3px 3px 3px, rgba(0, 0, 0, 0.24) 2px 2px 3px;
}

.sent-msg{
    background-color: #f1f3f2;
    color: #272424;
    border-radius: 10px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 13px;
    /* box-shadow: 0px 4px 5px #000; */
    box-shadow: rgba(0, 0, 0, 0.12) -3px 3px 3px, rgba(0, 0, 0, 0.24) -2px 2px 3px;
}

.timestamp{
    font-size: 10px;
    color: #272424;
    /* margin-top: 12px; */
    margin-left: 20px;
}
/* ///////////////////////////////// */



/* /////////For Scrolling/////////// */

.card{
    height: 100vh;
}
#messages{
    overflow: auto;
    /* overflow-y: scroll;
    overflow-x: hidden; */
}

/* #chats{
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
} */
/* /////////////////////////////////// */


/* For Alphabetical Profile Pictures */
/* .wrapper {

	border: 1px solid white;			
	border-radius: 50px;
	height: 45px;
	width: 45px;
	box-shadow: 0 0 0 2px rgb(60, 100, 80);
	/* position: absolute;
    left: 50%; */
	/* transform: translateX(-50%); */
	/* top: 2%; */
	/* transform: translateY(-20%); */
	/* background-image: linear-gradient(-45deg, seagreen 0%, crimson 100%);
}
#inner {

	text-align: center;		
	padding-top: 2px;	
	font-size: 30px;
	color: rgb(240, 240, 240);
} */
/* ////////////////////////////////// */



/* ///////////////TABS //////////////*/

.tab-header{
    padding-top: 2px;
}
/* .tab-header .nav-item{
    margin-left: 3px;
} */
.tab-header .nav-tabs li a:hover{
    color: #272424 !important;
    border: 1px solid #81a3a7;
    transition: 0.3s ease-in;
}
.tab-header .nav-tabs li a{
    color: #81a3a7 !important;
    /* background-color: rgba(245, 245, 245, 0.8); */
}
/* .tab-header .nav-tabs .active a{
    background-color: rgba(245, 245, 245, 0.8) !important;
} */
.tab-head-bg{
    background-color: rgba(245, 245, 245, 0.8);

}
.tab-pane{
    overflow-y: auto;
}
/* .tab-user-list{
    background-color: rgba(245, 245, 245, 0.8);
} */
.tab-content .tab-pane ul{
    background-color: rgba(245, 245, 245, 0.8);
}

/* ////////////////////////////////// */

/* ///////////Create Room Style/////////// */

.list-group .list-group-item .btn{
    /* border: 1px solid #272424; */
    background-color: #595775;
    color: #fff;
}

.list-group .list-group-item .btn:hover{
    background-color: #aba6bf;
    color: #272424;
    /* background: #595775 !important;
    color: #fff !important; */
    border: 1px solid #272424 !important;
}


.createRoomForm{
    color: #272424 !important;
    
}
.inputStyle{
    margin-bottom: 20px; 
    border-bottom-width: 2px; 
    border-bottom-style: solid; 
    border-bottom-color: #aba6bf; 
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 15px;
    font-weight: 400;
    color: #272424;
}
.formButton{
    float: right;
    /* border: 2px solid #595775; */
    background-color: #595775;
	color: #fff;
	font-weight: 400;
}
.formButton:hover {
	background-color: #aba6bf;
    color: #272424;
}
/* /////////////////////////////// */


/*/////// For Profile Page/////// */

/* .headd{
    position: relative;
    padding-right: 10px;
    padding-left: 10px; 
} */
.link-mail{
    background-color: transparent;
    color:black;
}
.profile-nav .user-heading {
    /* background-image: linear-gradient(to bottom right,grey); */
    color:black;
    -webkit-border-radius: 30px 30px 30px 30px;
    padding: 5px;
    text-align: center;
} 
.profile-nav .user-heading img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    vertical-align: middle;
    border: 20px;
} 

.h-divider{
    margin-top:5px;
    margin-bottom: 25px;
    width: 90%;
    border-top: 1px solid #272424;
}
/* .h1{    
    margin-top: 20px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    margin: .67em 0;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */
.profile{
    font-size: 17px;
    font-weight: bold;
}
.icon{
    width: 30%;
    font-size: 20px;
}
/* .user-heading h6{
    color:rgb(6, 6, 70);
    font-size: 25px;
} */



/*//////// PROFILE EDIT STYLE/////// */

.profileBio{
    border: transparent;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    background: transparent;
    resize: none;
    width: 100%;
    height: 100%;
    word-wrap: inherit;
    overflow: hidden;
    text-align: inherit;
    
}

.profileName{
    border: transparent;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    background: transparent;
    resize: none;

}
.profileDesig{
    border: transparent;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    background: transparent;
    resize: none;

}
/* //////////////////////// */


/* Ahtisham Added Following */

.chatBox {
    position: relative;
}

.email-verifier {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    background: rgb(200, 200, 200);
    border-radius: 10px;
    border: 3px solid purple;
    box-shadow: 0px 0px 5px purple;
    z-index: 1;
}

.send-btn, .verify-btn {
    font-size: 12px;    
    background-color: purple;
    color: rgb(200, 200, 200);
    padding: 5px;
}

.send-btn:hover, .verify-btn:hover {
    color: rgb(200, 200, 200);
    box-shadow: 0px 0px 2px purple;
    border-color: rgb(200, 200, 200);
}

.verify-err {
    color: maroon;
    font-size: 12px;
    position: absolute;
    top: -20px;
    transform: translateY(-20px);
    left: 40%;    
    transform: translateX(40%);
}

.verified-msg {
    font-size: 12px;
    font-weight: bold;
    color: darkgreen;
}

.verify-input {
   font-size: 12px; 
   background-color: rgb(240, 240, 240);
}

.notifier {
    color: white;    
    float: right;
    padding: 5px;
    font-size: 11px;
}

.online {
    color: green;
}

.offline {
    color: gray;
}

#user-list {
    max-height: 200px;
    overflow: auto;
}

.hide {
    display: none;
}

#upload {
      cursor: pointer;   
      /* color: #9ca1a3;    */
}  
  
#submit {
    background-color: transparent;
    border: none;    
    /* font-size: 14px;
    color: #9ca1a3; */
}

#selected-file {
      color: rgb(42, 52, 82);
      font-size: 12px;
}

#err-msg {
      color: maroon;
      font-size: 12px;
}

.room-participant {
    font-size: 14px;
    color: rgb(40, 50, 60);
}

/* .gsheet-add {
    position: relative;
} */
/* .add-sheet {
    color: rgb(10, 90, 10);
    font-size: 12.5px;
    position: absolute;
    top: 16px;
} */

.gsheet img {
    width: 25px;
    height: 30px;
}

.gsheet:hover {
    cursor: pointer;
}
.sheet-creating {
    font-size: 13px;
}