.home-page {
    text-align: center;
}
.btn {
    background: rgb(230, 230, 230);
    padding: 10px;
}
#logout {
    background: rgb(220, 220, 220);
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: -5px;
}
#messages {
    text-align: left;
}
.hide {
    display: none;
}
#left-sidebar {
    position: absolute;
    left: 5%;
    top: 10%;
}
.chat-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#right-sidebar {
    position: absolute;
    left: 85%;
    top: 10%;
}
