.room {
    text-align: center;
}
#room-form {
    height: 300px;
    overflow: auto;
    position: relative;
}
#participants {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
}
#participants ul {
    text-align: left;
}
#participants li:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
#sel-participants {
    position: absolute;
    left: 5%;
    width: 20%;
}
#sel-participants ul {
    text-align: left;
}