<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- <title>Collab</title>    
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="/static/js/jquery.min.js"></script>    
    <script src="/static/js/home.js"></script> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!--jQuery library-->
    <script src="/static/js/jquery.min.js"></script>

    <!-- Google API -->
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer type="text/javascript"></script>


    <!--Popper JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Compiled JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
    <!-- Font Awesome-->
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    
    <!--CSS Stylesheet-->
    <link rel="stylesheet" href="/static/css/home.css" />
  <title>Welcome to Applied Informatics</title>
</head>
<body>
    <div class="home-page">
        <div id="not-auth">
            <!-- <br>
            <h4>Please login to your account or create one for starting a conversion.</h4>
            <br>
            <a class="btn" href="/login"> Login </a> &nbsp; <a class="btn" href="/register"> Register </a> -->
            <div class="container">
                <div class="forms-container">
                  <div class="signin-signup">
                    <form id="login-form" class="sign-in-form">
                    <div>
                        <h2 class="title">Log in</h2>
                    </div>
                    <div class="fields">
                      <div class="input-field">
                        <i class="fa fa-user-circle-o"></i>
                        <input type="text" name="username" placeholder="Username or Email" required/>
                      </div>
                      <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="Password" required/>
                      </div>
                    </div>
                    <!-- <div class="rem-me">
                      <div>
                      <input class="form-check-input" type="checkbox" name="remember">
                      Remember Me
                      </div>
                    </div> -->
                    <div>
                      <button type="submit" class="btn btnl solid" >Login</button>
                    </div>
                      <!--<p class="social-text"></p>-->
                      <div>
                      <div class="social-media">
                         <!-- <a href="#" class="social-iconl">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-iconl">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-iconl">
                          <i class="fab fa-linkedin-in"></i>
                        </a> -->
                        <a id="google-signin" class="social-iconl">
                            <i class="fab fa-google"></i>
                          </a>
                         <span class="gmail">or sign in with your Gmail</span>
                      </div>
                    </div>
                    </form>
                    <form id="register-form" class="sign-up-form">
                        <div>
                        <h2 class="title">Sign up</h2>
                        </div>
                      <div class="fields">
                      <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input id="first_name" type="text" placeholder="First Name (Required)" required/>
                      </div>
                      <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input id="last_name" type="text" placeholder="Last Name (Optional)"/>
                      </div>
                      <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input id="email" type="email" placeholder="Email (Required)" required/>
                      </div>
                      <div class="input-field">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <input id="username" type="text" placeholder="Username (Required)"  required/>
                      </div>
                      <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input id="password" type="password" placeholder="Password (Required)" required/>
                      </div>
                      <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Confirm Password (Required)" required/>
                      </div>
                    </div>
                    <div>
                      <input type="submit" class="btn btnu" value="Sign up" />
                    </div>
                      <!--<p class="social-text"></p>
                      <div>
                      <div class="social-media">
                       <a href="#" class="social-iconl">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-iconl">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-iconl">
                          <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="#" class="social-iconu">
                            <i class="fab fa-google"></i>
                          </a>
                         <span class="gmail">or sign up with your Gmail</span></a>
                      </div>
                    </div>-->
                    </form>
                  </div>
                </div>
          
                <div class="panels-container">
                  <div class="panel left-panel">
                    <div class="content">
                      <img src="/static/media/images/ai-logo.png" style="height: 60px; width: 50px;">
                      <h3>New here ?</h3>
                      <p>
                        Don't worry! Sign Up now and join us. It's free!
                      </p>
                      <button class="btn btns transparent" id="sign-up-btn">
                        Sign up
                      </button>
                    </div>
                    <img src="/static/media/images/signup.svg" class="image" alt="" />
                  </div>
                  <div class="panel right-panel">
                    <div class="content">
                      <img src="/static/media/images/ai-logo.png" style="height: 60px; width: 50px;">
                      <h3>One of us ?</h3>
                      <p>
                        If you already have an account then login here.
                      </p>
                      <button class="btn btns transparent" id="sign-in-btn">
                        Log in
                      </button>
                    </div>
                    <img src="/static/media/images/login.svg" class="image" alt="" />
                  </div>
                </div>
              </div> <!--div of main container-->      
        </div> <!--div of not auth-->
        <div id="auth" class="hide">
            <strong id="err"></strong><br>
            <div id="chat-body">
                <h3><span>Collab</span><hr id="message-sep"></h3>
                <p id="no-message">No messages to display</p>
                <div id="messages" class="hide"></div>
            </div>
            <div id="left-sidebar">
                <div id="online-users">
                    <strong> online users </strong><br>
                    <ul>
                    </ul>
                </div><br>
                <div id="rooms">
                    <strong id="room-heading"> rooms </strong>
                    <ul></ul>
                </div>
            </div>
            <div id="right-sidebar">
                <strong> profile </strong>
                <p id="cur_user"></p>
                <button id="logout"> Logout </button><br>
                <p id="room"> <a href="/room"> create room </a> </p>
            </div>
        </div>
    </div> <!--div of home page-->

    <script type="text/javascript" src="/static/js/home.js"></script>

    
</body>
</html>