<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collab</title>
    <!--Custom Css -->
    <link rel="stylesheet" href="/static/css/home.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- jQuery-->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom jQuery -->
    <script src="/static/js/home.js"></script>
</head>
<body>
    <div class="home-page">
        <div id="not-auth">
            <br>
            <h4>Please login to your account or create one for starting a conversion.</h4>
            <br>
            <a class="btn" href="/login"> Login </a> &nbsp; <a class="btn" href="/register"> Register </a>
        </div>
        <div id="auth" class="hide">
            <strong id="err"></strong><br>
            <div id="chat-body">
                <h3><span>Collab</span><hr id="message-sep"></h3>
                <p id="no-message">No messages to display</p>
                <div id="messages" class="hide"></div>
            </div>
            <div id="left-sidebar">
                <div id="online-users">
                    <strong> online users </strong><br>
                    <ul>
                    </ul>
                </div><br>
                <div id="rooms">
                    <strong id="room-heading"> rooms </strong>
                    <ul></ul>
                </div>
            </div>
            <div id="right-sidebar">
                <strong> profile </strong>
                <p id="cur_user"></p>
                <button id="logout"> Logout </button><br>
                <p id="room"> <a href="/room"> create room </a> </p>
            </div>
        </div>
    </div>
</body>
</html>