<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collab</title>
    <!-- Custom css -->
    <link rel="stylesheet" href="/static/css/login.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <!-- Google API -->
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer type="text/javascript"></script>
    <!-- Custom jQuery-->
    <script type="text/javascript" src="/static/js/login.js"></script>
</head>
<body>
    <!-- Login Form -->
    <div class="login">
        <h3> Login to <strong>Collab</strong></h3><br>
        <form id="login-form">
            <input id="username" placeholder="Username" name="username"><br><br>
            <input id="password" placeholder="password" name="password"><br><br>
            <button type="submit"> Login </button><br>
            <p id="err"></p>
            <h6> OR </h6>
            <a id="google-signin"> Sign in with google </a>
        </form>
    </div>
</body>
</html>