<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collab</title>
    <!-- Custom Css -->
    <link rel="stylesheet" href="/static/css/register.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Custom jQuery -->
    <script src="/static/js/register.js"></script>
</head>
<body>
    <!-- Register Form -->
    <div class="register">
        <h3> Register to <strong>Collab</strong></h3><br>
        <form id="register-form">
            <input id="firstname" placeholder="First Name"><br><br>
            <input id="lastname" placeholder="Last Name"><br><br>
            <input id="email" placeholder="Email"><br><br>
            <input id="username" placeholder="Username"><br><br>
            <input id="password" placeholder="password"><br><br><br>
            <button type="submit"> Register </button><br>
            <p id="err"></p>
        </form><br>
        <h4>Already have an account ? <a href="/login">login here</a></h4>
    </div>
</body>
</html>