<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collab</title>
    <!-- Custom Css -->
    <link rel="stylesheet" href="/static/css/room.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Custom jQuery -->
    <script src="/static/js/room.js"></script>
</head>
<body>
    <!-- Room Form -->
    <div class="room">
        <form id="room-form">
            <h3> Create Room <button type="submit"> Create </button></h3><br>
            <span id="err"></span>
            <input id="room-name" placeholder="Room Name"><br><br>
            <input id="room-desc" placeholder="Description"><br>
            <div id="participants">
                <p> Select Participants </p>
                <ul>
                </ul>
            </div>
            <div id="sel-participants">
                <p> Selected Participants </p>
                <ul>
                </ul>
            </div>
        </form><br>
    </div>
</body>
</html>