<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collab</title>
    <!--Custom Css -->
    <link rel="stylesheet" href="/static/css/room.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery-->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom jQuery -->
    <script src="/static/js/room.js"></script>
</head>
<body>
    <div id="rooms-page">
        <strong id="err"></strong><br>
        <div class="rooms-section">
            <h3><span></span></h3>
            <hr id="message-sep"><br>
            <div id="messages"></div>
            <form id="rooms-form">
                <hr>
                <span id="err-msg"></span>
                <div id = "file-section">
                    <i id="upload" class="fa fa-folder-open"></i> &nbsp;
                    <span id="selected-file"></span>
                </div>
                <input type="file" id="file" class="hide" name="file">
                <input type="text" id="messageText" autocomplete="off" name="text"/>
                <button type="submit">Send</button>
            </form><br>
        </div>
    </div>
</body>
</html>