<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
  <meta charset="UTF-8">
  <title>Social Login</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
  <script>
        function start() {
            gapi.load('auth2', function(){
                auth2 = gapi.auth2.init({
                    client_id: "973829616666-n71ceelkr8spfb1ldtt6318e54v1cebr.apps.googleusercontent.com"
                });
            });
        }
        $(document).ready(function(){
            function signInCallback(authResult){
                if (authResult['code']) {
                    $("#signinButton").attr('style', 'display: none');
                     $.ajax({
                        type: 'POST',
                        url: '/api/sociallogin',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify({"type": "google", "token": authResult['code']})
                    });
                }
            }
            $("#signinButton").on("click", function(){
                auth2.grantOfflineAccess().then(signInCallback);
            });
        });
    </script>
</head>
<body>
    <button id="signinButton" style="background: rgb(230, 230, 230); box-shadow: 0 10px 10px gray; padding: 5px;"> Sign in with google </button>
</body>
</html>